/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
.ad-free a {

}
.row .Zand-sign {
float:right;
}
.allheader .adfreelin .ad-free a {
background:#419641;
}
.Zand-nav {
background:#0b315b;
}
.Zand-logo {
float:right !important;
width:220px !important;
}
.adfreelin {
width:16.66%;
}
.holimageleftlogin {
display:none !important;
}
.headlogins {
display:none !important;
}
body.page-node-29 .col-side,
body.page-node-27 .col-side {
width:100% !important;
}
body.page-node-12 .col-content,
body.page-node-26 .col-content,
body.page-node-30 .col-content,
body.page-node-25 .col-content {
width:100% !important;
}
body.page-node-12 .col-side,
body.page-node-30 .col-side,
body.page-node-25 .col-side,
ul li.paneluser,
body.front .col-side,
body.page-node-22 .col-side,
body.page-node-21 .col-side,
body.page-node-17 .col-side,
body.page-node-20 .col-side,
body.page-node-19 .col-side,
body.page-node-18 .col-side,
body.page-node-16 .col-side,
body.page-node-15 .col-side,
body.page-node-23 .col-side {
display:none !important;
}
body.page-node-26 .col-side {
width:100% !important;
}
.adfreelin {
width:200px !important;
}
.posmos .dropdown-content {
max-height:auto !important;
overflow-x:auto !important;
}
body.node-type-agahi .col-content {
width:100% !important;
}
body.front .col-content {
width:100%;
right:auto !important;
}
body.node-type-agahi .col-side {
display:none !important;
}
.bzdnw {
background:#999999 !important;
}
.newadsing {
display:none !important;
}
.nav-down {
display:none !important;
}
